<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Subur Indah | Usaha Gentang</title>
		<!-- <link
			href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css"
			rel="stylesheet"
		/> -->
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
			rel="stylesheet"
		/>
		<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
		<!-- <link
		rel="stylesheet"
		href="<?= base_url('assets/css/tailwind.build.css'); ?>" /> -->
		<link rel="stylesheet" href="./assets/cssSementara.css" />
	</head>

	<body>
		<nav class="bg-background p-4">
			<div class="container mx-auto justify-between items-center flex">
				<a href="" class="w-10"
					><img src="./assets/img/nav/logo.png" class="" alt=""
				/></a>
				<p class="sm:hidden text-accent-warning font-semibold">Subur Indah</p>
				<ul class="hidden sm:flex space-x-4">
					<li>
						<a
							href="#"
							class="text-primary hover:text-accent-warning font-semibold"
							>Home</a
						>
					</li>
					<li>
						<a
							href="#"
							class="text-primary hover:text-accent-warning font-semibold"
							>About</a
						>
					</li>
					<li>
						<a
							href="#"
							class="text-primary hover:text-accent-warning font-semibold"
							>Services</a
						>
					</li>
					<li>
						<a
							href="#"
							class="text-primary hover:text-accent-warning font-semibold"
							>Contact</a
						>
					</li>
				</ul>
			</div>
		</nav>

		<div
			class="sm:hidden fixed bottom-0 left-0 right-0 bg-background rounded-tl-xl rounded-tr-xl"
		>
			<div class="flex justify-around px-3 py-5">
				<a
					href="#"
					class="text-center text-primary hover:text-accent-warning font-semibold"
				>
					<span class="text-sm">Home</span>
				</a>
				<a
					href="#"
					class="text-center text-primary hover:text-accent-warning font-semibold"
				>
					<span class="text-sm">About</span>
				</a>
				<a
					href="#"
					class="text-center text-primary hover:text-accent-warning font-semibold"
				>
					<span class="text-sm">Services</span>
				</a>
				<a
					href="#"
					class="text-center text-primary hover:text-accent-warning font-semibold"
				>
					<span class="text-sm">Contact</span>
				</a>
			</div>
		</div>
	</body>
</html>
